/* キャラクター */
#player {
  width: 32px;
  height: 32px;
  background-image: url('images/player.png');
  background-size: cover;
  position: absolute;
}

/* 敵・アイテム */
.item {
  width: 20px;
  height: 20px;
  /* background: red; */
  background-image: url('images/item.png');
  background-size: cover;
  position: absolute;
}

/* ライフ */

#life {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}

/* ゲーム終了画面 */

#gameOver {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 48px;
  font-weight: bold;
}

